/* 
main.css:
    -Contiene las clases que se utilizan en las cards de eventos
*/

/* Móviles en vertical o tablets en vertical*/
@media (min-width: 320px) {
    
    .cards{
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card {
      flex: 1 1 calc(100% - 1em);
      background-color: #a2a0a5;
      height: 250px;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  
    .card-title{
      height: 20%;
      background-color: var(--colorPrimario);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: medium;
      font-weight: bolder;
      padding-left: 10px;
      padding-right: 10px;
    }
    .card-image{
      height: 50%;
      background-color: #161625;
    }
    .card-image img{
      position: center;
      width: 100%;
      height: 100%;
    }
    .card-description-container{
      width: 100%;
      height: 30%;
      float: left;
      background-color: var(--colorPrimario);
    }
    .card-description{
      width: 90%;
      height: 100%;
      float: left;
      
    }
    .card-share-detail{
      width: 10%;
      height: 100%;
      float: left;
    }
    .card-share-button{
      padding:0;
      width: 100%;
      height: 50%;
      background-color: var(--colorPrimario);
      border: none;
      color: var(--colorTerciario);
      text-align: center;
      text-decoration: none;
      
      font-size: medium;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .card-share-button:hover{
      background-color: var(--colorSecundario);
    }
    .card-detail-button{
      padding:0;
      width: 100%;
      height: 50%;
      background-color: var(--colorPrimario);
      border: none;
      color: var(--colorTerciario);
      text-align: center;
      text-decoration: none;
      
      font-size: medium;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .card-detail-button:hover{
      background-color: var(--colorSecundario);
    }
    .card-info1{
      height: 33%;
      width: 100%;
    }
    .card-info2{
      height: 33%;
      width: 100%;
    }
    .card-info3{
      height: 34%;
      width: 100%;
    }
    .card-info-title{
      display:inline-block;
      width: 30%; 
      height: 100%;
      background-color: var(--colorPrimario);
    }
    .card-info-data{
      display:inline-block;
      width: 70%;
      height: 100%;
      background-color: var(--colorSecundario); 
    }
    
  }
  
  /* Resoluciones mayores a moviles*/
  
  @media (min-width: 600px) {
    /* results */
   .card {
     flex: 0 1 calc(50% - 1em);
   }
  }
  @media (min-width: 1024px) {
    /* results */
   .card {
     flex: 0 1 calc(28% - 1em);
   }
  }