/* 
contact.css:
    -Contiene las clases que se utilizan solo en la pagina de contacto
*/

/* Mapa */
.contenedor
{
    height: 550px;
    overflow-y: scroll;
}


.mask-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 5rem 0;
}

svg {
  width: 100%;
  height: auto;
  max-width: 1024px;
}

/*  Quienes somos */

.about-services {
  margin-top: 50px;
  background: #000000d2;
  padding-bottom: 30px;
  height: 100%;
}

.titulo {
  text-align: center;
  font: oblique bold 120% cursive;
}
.titulo h3 {
  margin-top: 0;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  width: 30%; /* texto centrado */
  text-align: center;
}

.servicio-ind img {
  width: 50%;
}

.servicio-ind h3 {
  margin: 25px 0;
}

.servicio-ind p {
  font-weight: 250;
  text-align: center;
}

.contenedor-final {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.contenedor-map
{
    width: 100%;
    height: 250px;

}
#myMap {
    position: relative;
    height: inherit;
    width: inherit;
    z-index: 0;
 }

.content-fin {
  text-align: center;
}

.content-fin h4 {
  color: #fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-fin p {
  color: #ccc;
}

/* Iconos redes sociales*/

.redes h3 {
  margin: 25px 0;
}

.redes img {
  width: 15%;
  padding: 4%;
}

@keyframes move {
  25% {
    transform: translateY(50px) translateX(0);
  }

  50% {
    transform: translateY(0px) translateX(50px);
  }

  75% {
    transform: translateY(50px) translateX(0);
  }
}
