@import "./card.css";

/* 
main.css:
    -Contiene las clases que se utilizan solo en la pagina principal
*/

/* Móviles en vertical o tablets en vertical*/
@media (min-width: 320px) {
  /* filters*/
  .filtersContainer {
    margin-top: 50px;
    padding-top: 5px;
    height: 250px;
    background-color: #a2a0a5;
  }
  .filterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 20px/1 Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #514c57;
    padding-bottom: 5px;
  }
  .filterLabel {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font: 400 15px/1 Helvetica, Arial, sans-serif;
    padding-left: 10px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #514c57;
  }
  .filterInputContainer {
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 5px 20px 5px 20px; */
  }
  .filterInput {
    width: 100%;
    height: 100%;
  }
  .filterButtonContainer {
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .filterButton {
    width: 100%;
    height: 100%;
  }

   /* results */
 .cardsContainer{
  position: fixed;
  top: 305px;
  bottom: 55px; 
  padding-top: 15px;
  left: 0;
  right: 0;
  overflow-y: auto; 
  z-index: -1
  }

  /* pagination*/
  .pagination {
    bottom: 20px;
    height: 30px;
    left:0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    position: fixed;
    z-index: -1;
    background-color: var(--colorTerciario);

  }
  .paginationLeft{
    width: 10%;
    height: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationCenter{
    width: 80%;
    height: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationRight{
    width: 10%;
    height: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationLeft button{
    width: 100%;
    height: 100%;
    padding: 0%;
    text-align: center;
    text-justify: auto;
  }
  .paginationRight button{
    width: 100%;
    height: 100%;
    padding: 0%;
    text-align: center;
    text-justify: auto;
  }
}

/* Resoluciones mayores a moviles*/
@media (min-width: 480px) {
  /* filters*/
  .filtersContainer {
    height: 135px;
  }
  .filterForm{
    height: 55px;
    margin: 0px;
  }
  .filterStart {
      float: left;
      width: 33%;
  }
  .filterMiddle {
    float: left;
    width: 33%;
  }
  .filterEnd {
    float: right;
    width: 33%;
  }
  .filterButtonContainer {
    margin-top: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filterButton {
    width: 180px;
  }

 /* results */
 .cardsContainer{
    top: 190px; 
  }
}