@import "./card.css";

/* 
main.css:
    -Contiene las clases que se utilizan solo en la pagina principal
*/

/* Móviles en vertical o tablets en vertical*/
@media (min-width: 320px) {
  /* filters*/
  .filtersContainer {
    margin-top: 50px;
    padding-top: 5px;
    height: 275px;
    background-color: #a2a0a5;
  }
  .filterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--colorPrimario);
  }
  .filterLabel {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-size: medium;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--colorSecundario);
  }
  .filterInputContainer {
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 5px 20px 5px 20px; */
  }
  .filterInput {
    width: 100%;
    height: 100%;
  }
  .filterButtonContainer {
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .filterButton {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: var(--colorPrimario); /* Green */
    border: none;
    color: var(--colorTerciario);
    text-align: center;
    text-decoration: none;
    
    font-size: medium;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .filterButton:hover {
    background-color: var(--colorSecundario);
    color: var(--colorPrimario);
  }

   /* results */
 .cardsContainer{
  position: fixed;
  top: 315px;
  bottom: 55px; 
  padding-top: 15px;
  left: 0;
  right: 0;
  overflow-y: auto; 
  z-index: -1
  }

  /* pagination*/
  .pagination {
    bottom: 25px;
    height: 30px;
    left:0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    position: fixed;
    z-index: -1;
    background-color: var(--colorTerciario);

  }
  .paginationLeft{
    width: 10%;
    height: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationCenter{
    width: 80%;
    height: 100%;
    color: var(--colorPrimario);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationRight{
    width: 10%;
    height: 100%;
    color: black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationLeft button{
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: var(--colorPrimario); 
    border: medium;
    color: var(--colorTerciario);    
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .paginationLeft button:hover{
    background-color: var(--colorSecundario); 
  }
  .paginationRight button{
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: var(--colorPrimario); 
    border: medium;
    color: var(--colorTerciario);    
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .paginationRigth button:hover{
    background-color: var(--colorSecundario); 
  }
}

/* Resoluciones mayores a moviles*/
@media (min-width: 480px) {
  /* filters*/
  .filtersContainer {
    height: 150px;
  }

  .filterStart {
      float: left;
      width: 33%;
  }
  .filterMiddle {
    float: left;
    width: 33%;
  }
  .filterEnd {
    float: right;
    width: 33%;
  }
  .filterButtonContainer {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

  }
  .filterButton {
    width: 180px;
    margin-top: 10px;
  }

 /* results */
 .cardsContainer{
    top: 190px; 
  }
}