/* contiene las clases de las tarjetas*/
@import "./card.css"; 

/* 
main.css:
    -Contiene las clases que se utilizan solo en la pagina de historial
*/

/* Móviles en vertical o tablets en vertical*/
@media (min-width: 320px) {
  /* Info page*/
  .pageInfoContainer {
    margin-top: 50px;
    padding-top: 5px;
    height: 100px;
    background-color: #a2a0a5;
  }

  .pageInfoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--colorPrimario);
  }
  .pageInfoContainer h3 {
    padding-left: 20px;
    padding-right: 20px;
    color: var(--colorSecundario);
  }
  .cardsContainer {
    position: fixed;
    top: 155px;
    bottom: 20px;
    padding-top: 15px;
    left: 0;
    right: 0;
    overflow-y: auto; 
    z-index: -1
  }
}
