/* body{
    background-image: url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.1;
} */
.content{
    position: fixed;
    z-index: -1;
    margin-top: 50px;
    padding-top: 15px;
}
h1, h2, p{
    
    padding-left: 20px;
}