/* 
share.css:
    -Contiene las clases que se utilizan solo en la pagina de "Compartir"
*/



/* estilos  */

/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.alert{
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}

.contenedor{
    
    background: var(--colorTerciario);
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: var(--colorPrimario);
}

.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenido .infoCard{
    width: 50%;
    height: 500px;
    background: var(--colorSecundario);
    
}
.contenido .formulario{
    width: 50%;
    height: 500px;
    
}

.formulario__botones {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.contenedor-title{
    height: 10%;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    


/* Card con info del evento */


.cards {
    background: var(--colorSecundario);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 95%;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.cards .infoEventCard-header {
    padding: 2px 16px;
    background-color: var(--colorSecundario);
    color: white;
    display: flex;
    border-radius: 25px;
    text-align: center;
  }

.cards .infoEventCard-body {padding: 20px 16px;}


/* ===========================================
Estilos del formulario
============================================== */

.formulario{
    padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #9415cf;
}

.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: var(--colorSecundario);
    color: #fff;
    cursor: pointer;
    float: right;
}

/* ===========================================
Fin Estilos del formulario
============================================== */

@media (max-width: 520px){
   .contenedor{
       padding: 40px 20px;
   }

   .contenido .info,
   .contenido .formulario{
       width: 100%;
       padding: 0px;
   }

   .contenido .info{
       margin-bottom: 30px;
   }
   
}

@media (max-width: 800px){
  
    .contenido .info,
    .contenido .formulario{
        width: 100%;
        padding: 0px;
    }
 
    .contenido .info{
        margin-bottom: 30px;
    }
 }